
.intro-dark {
    background-color: #060606;
    width: 100%;
    height: 100dvh;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10vw;
    box-sizing: border-box;
  
    .text {
      width: 100%;
      display: block;
      transition: all ease-out 0.4s;
    }
  
    span {
      transition: all ease-out 0.4s;
      transition-behavior: allow-discrete;
    }
    
    h1 {
      font-size: 42px;
      font-weight: 600;
      margin-bottom: 32px;
      letter-spacing: -0.1px;
      transition: all ease-out 0.4s;
  
      @media only screen and (min-width: 360px) {
        font-size: 52px;
      }
  
      @media only screen and (min-width: 700px) {
        font-size: 66px;
      }
  
      @media only screen and (min-width: 1000px) {
        font-size: 100px;
      }
  
      @media only screen and (min-width: 1400px) {
        font-size: 140px;
      }
    }
  
    p {
      font-weight: 400;
      transition: all ease-out 0.4s;
  
      @media only screen and (min-width: 360px) {
        font-size: 22px;
        line-height: 145%;
  
        &:first-of-type {
          margin-bottom: 16px;
        }
      }
  
      @media only screen and (min-width: 700px) {
        font-size: 2.4vw;
        
        &:first-of-type {
          margin-bottom: 0.6vw;
        }
  
        strong {
          letter-spacing: 0.05vw;
        }
      }
  
      @media only screen and (min-width: 1000px) {
        font-size: 2.2vw;
      }
  
      @media only screen and (min-width: 1400px) {
        font-size: 1.8vw;
      }
    }
  
    span.its {
      @media only screen and (max-width: 600px) {
        display: none;
      }
    }
  
    span.diego-here {
      @media only screen and (max-width: 1850px) {
        display: block;
      }
    }
  }